{% block content %}
<table id="data">
    {% for skill in effect_skills %}
    {% set description= skill['description'] %}
    <tr>
        <td>{{ description }}</td>
        <td>
            <button class="btn btn-primary" onClick="copyToClipboard('{{description}}')">c</button>
        </td>
        <table>
            {% set effects = skill['effects'] %}
            {% for effect in effects %}
            {% set formula= effect['formula'] %}
            <tr>
                <td>[{{effect['effect']}}]</td>
                <td>[{{effect['stat']}}]</td>
                <td>formula: {{formula}}</td>
                <td>
                    <button class="btn btn-primary" onClick="copyToClipboard('{{formula}}')">c</button>
                </td>
            </tr>
          {% endfor %}
        </table>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block scripts %}
<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text)
    }
</script>
{% endblock %}